<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Update Flight</title>
	</head>
	<body>
		<a th:href="@{/}">Back to Home</a>
		
		<h3>Update Flight</h3>
		<form th:action="@{/flight/update}" th:object="${flight}" method="POST">
			<input type="hidden" th:field="*{pilot}"/>
			<input type="hidden" th:field="${flight.id}"/>
			Flight Number: <br>
			<input type="text" name="flightNumber" th:field="*{flightNumber}"/> <br>
			Origin: <br>
			<input type="text" name="origin" th:field="*{origin}"/> <br>
			Destination: <br>
			<input type="text" name="destination" th:field="*{destination}"/> <br>
			Time: <br>
			<input type="text" name="time" th:field="*{time}"/> <br><br>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>